@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap");
@-ms-viewport {
  width: device-width;
}
html {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
}
/*Phone*/
.nav-flex {
  background-color: #201b39;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
  height: 11vh;
}
#searchinput,
.navigation {
  display: none;
}
#logo-oldbeat {
  width: 200px;
  padding-top: 30px;
}
.home-timeline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 78vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  overflow: auto;
  background-color: #0b081b;
}

::placeholder {
  text-align: justify;
  font-size: 15px;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
}
.home-publisharea {
  display: flex;
  justify-content: center;
}

#btnEditContent,
#btnSendContent {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 32px;
  line-height: 32px;
  border-radius: 2px;
  font-size: 0.9em;
  background-color: #fff;
  color: #646464;
}
.divImgPerfilPostUser {
  display: none;
}
.upContent {
  margin-top: 0.8rem;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-items: center;
  width: 86vw;
  height: 52px;
  border-radius: 10px;
}
#txtArea {
  width: 80vw;
  margin-left: 12px;
  border: none;
  border-color: transparent;
  overflow: auto;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-size: 15px;
}
ul#contentPost {
  justify-content: space-between;
  margin: -10px 0 0 22px;
}
.contentPost {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.postContentLi {
  background-color: #fff;
  border-radius: 7px;
  display: inline-block;
  justify-content: space-around;
  width: 80vw;
  height: auto;
  margin: 10px 0;
  font-size: 16px;
  /* min-height: 20vh; */
  overflow: auto;
  padding: 1rem;
}
.author-name {
  color: #201b39;
  font-weight: 500;
  font-size: 17px;
}
span#description {
  color: #0b081b;
}
.control {
  position: fixed;
  width: 100vw;
  overflow: visible;
  float: none;
  clear: none;
  background-color: #201b39;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 12vh;
}
.fa {
  font-size: 50px;
  cursor: pointer;
  user-select: none;
}

.fa:hover {
  color: darkblue;
}

.fa {
  font-size: 50px;
  cursor: pointer;
  user-select: none;
}

.fa:hover {
  color: darkblue;
}

/*Desktop*/
@media (min-width: 1090px) {
  .home-bodyPost {
    overflow: visible;
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: #0b081b;
  }

  .nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(101, 29, 149);
    background: linear-gradient(
      90deg,
      rgba(101, 29, 149, 1) 0%,
      rgba(70, 30, 65, 1) 100%
    );
  }
  .navigation {
    display: flex;
    list-style: none;
    padding-right: 3em;
    padding-left: 1em;
  }
  .imgPerfil {
    border-radius: 20px;
    width: 40px;
    height: 40px;
  }
  .logo,
  .navigation a {
    text-decoration: none;
  }
  .navigation a {
    display: block;
    padding: 1em;
    color: white;
  }
  .navigation a:hover {
    background: #e9329d;
    border-radius: 15px;
  }
  ul .navigation {
    display: flex;
  }
  input .search {
    height: 20px;
    border-radius: 10px;
    margin: 10% 0 0 0;
    border-color: #2f80ed;
    text-indent: 4%;
  }
  .logo {
    margin: 0 0 0 5%;
  }
  .logo img {
    width: 200px;
    height: auto;
    display: block;
    padding: 1em;
  }
  li div.cerrar {
    margin-left: auto;
    top: 0;
    right: 0px;
    background: rgba(255, 255, 255, 0.6);
    width: 30px;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    cursor: pointer;
  }
  /*Contenedor Principal*/
  .perfilUserAndPostsUser {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #0b081b;
  }

  /* Seccion Derecha*/
  .postUser {
    width: 80vw;
    padding: 15px;
  }

  /*Caja del Formulario*/
  /* #add-post-form {
    display: flex;
    background: #fff;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin: 10px;
    
  }
  input.inputFormDescription{
    margin-right: 50px;
    width: 90%;
    height: 35px;
    border-radius: 6px;
    background: #f0f0f0;
    border: 1px solid #fff;
  }
  input.inputFormDescription:focus{
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  } */

  /*Campo Texto para Publicar*/

  .upContent textarea {
    border: 10px;
    width: 50%;
    height: 25px;
    margin: 20px 10px 20px 10px;
    background: rgb(240, 238, 238);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12pt;
    resize: none;
    overflow: hidden;
    border-radius: 5px;
  }
  /*Evento que Pinta el borde al dar click*/
  textarea:focus {
    /* outline:none !important; */
    outline-width: 1 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    outline-color: rgb(255, 146, 206) !important;
    border-radius: 5px;
  }
  /*Texto Referencial  del Input*/
  textarea::placeholder {
    margin-left: 20px;
    color: rgb(201, 201, 238);
    font-size: 1em;
    text-align: start;
  }
  /*Imagen del Usuario activo en la caja de post*/

  .divImgPerfilUser {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
  .divImgPerfilUser > .imgPerfilUser {
    border-radius: 100%;
    width: 100%;
    height: 100%;
  }
  .divImgPerfilPostUser {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
  .divImgPerfilPostUser > .imgPerfilPostUser {
    border-radius: 100%;
    width: 100%;
    height: 100%;
  }
  /*contenedor del post*/
  .mainContentPost {
    display: flex;
    justify-content: center;
  }
  /*lado izquierdo del post*/
  .leftContent {
    background-color: #fff;
    padding: 15px;
    border-radius: 15px 0px 0px 15px;
    width: 5%;
  }
  /*lado derecho del post*/
  .rightContent {
    background-color: #fff;
    width: 70%;
    border-radius: 15px;
  }
  /*contenido superior del lado derecho del post*/
  .upContent {
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-items: center;
  }
  /*input publicar*/
  #txtArea {
    width: 100%;
  }
  /*contenido inferior del lado derecho del post*/
  .downContent {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  /*contenido Up y Down del contenedor derecho*/
  .publishPost {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: auto;
  }
  /*boton publicar*/
  .btnSendContent {
    width: 100px;
    height: 30px;
  }

  /*Caja de los Post*/
  .contentPost {
    margin: 30px;
    width: 800px;
  }

  .contentPost li {
    color: #000;
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    list-style: none;
    padding: 20px;
    border: 1px solid rgb(114, 109, 109);
    margin: 10px 0px;
    display: grid;
    font-size: 16px;
    background-color: #fff;
    border-radius: 15px;
  }

  #likeButton {
    background-color: #637081;
    background-image: linear-gradient(315deg, #637081 0%, #7c98b3 74%);
    color: white;
    border: none;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
  }

  #dislikeButton {
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    border: none;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
  }

  #likeButton:hover,
  #dislikeButton:hover {
    filter: hue-rotate(40deg);
    transform: scale(1.1);
  }

  #likeButton:focus,
  #dislikeButton:focus {
    outline: none;
    color: white;
    background-color: #f5d020 !important;
    background-image: linear-gradient(
      315deg,
      #f5d020 0%,
      #f53803 74%
    ) !important;
  }

  #likeButton:focus:hover,
  #dislikeButton:focus:hover {
    filter: hue-rotate(0deg);
  }

  .control {
    order: -1;
    background-color: #0b081b;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 220px;
    height: 100vh;
    margin: 1.2rem 0 0 1rem;
  }
}
